h4{
    color: red;
    background-color: chartreuse;
    font-size: 40px;
}
 h2{
            color:goldenrod !important;
            background-color: darkred;
            font-size:40px;
        }
h5{
    color:#EE0943;
    background-color: rgb(192, 154, 228);
    font-size: 40px;
}